.defaultContainer {
    width: 100%;
    text-align: left;
}
.PageContentColumn {
    margin: 0 25px;
}
.PageContent{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.PageHeader {
    width: 100%;
    text-align: center;
}