body { 
    background: rgb(113, 154, 118)
}

.defaultContainer {
    width: 100%;
    text-align: left;
}
.PageContentColumn {
    margin: 0 25px;
}
.PageContent{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    background:white;
}
.PageHeader {
    width: 100%;
    text-align: center;
}
.bulletContainer{
    display:flex;
}